/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
  font-family: Rubik, sans-serif;
  font-weight: 100;
}

.scroll-element {
  scroll-margin-top: 100px;
}